<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clopt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h2>Clopt - Cloud Cost Optimization Dashboard | ver 0.1.0</h2>
    </header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard/cost-tracking">Cost Tracking</a></li>
                <li><a href="/dashboard/cost-saving">Cost Saving</a></li>
                <!-- Add other navigation items here -->
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <p>© 2024 Clopt - Cloud Cost Optimization Dashboard | ver 0.1.0 by rzpjunior</p>
    </footer>
</body>
</html>
